
    body{font-family: 'Poppins', sans-serif; background-color: #fafafa;}

    .Cards{justify-content: center;align-items: center;width: 1200px;margin: auto;}


    .Card{
      border-radius: 5px; 
      box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22) ;
      padding: 30px;
      margin: 20px;
      width: 300px;
      height: 190px;
      transition: all 0.3s ease-out;
      position: relative;
    }

    .Card:hover{
      transform: translateY(-5px);
      cursor: pointer;
    }

    .Card p{
      color: #a3a5ae;
      font-size: 15px;
    }

    .Card h2{color: rgb(61, 58, 58);}

    .Red{border-top: 4px solid #EA5353;position: relative;margin: auto;margin-bottom: 40px;}
    .Green{border-top: 4px solid #45D3D3;float: left;top: 150px;clear: left;}
    .Orange{border-top: 4px solid #FCAF4A;margin: auto;}
    .Blue{border-top:  4px solid #549EF2;clear:right;float: right;top: 150px;}



    .image{
      float: right;
      max-width: 64px;
      max-height: 64px;
    }

    main{margin: 4em;}

    header{font-family: 'Poppins', sans-serif; font-size: 30px; text-align: center; color: rgb(85, 78, 78);font-weight: 200;}

    .Subtitulo{color:#4C4E61;font-weight: bold; font-size: 31.7px;font-weight: 600px;}

    .texto{width: 500px; margin: auto; margin-top: -0.5em;}

    h1{font-size: 13px; color: #A3A5AE; margin: 2em; text-align: center;margin-bottom: 4em;} 
    .tex
    

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    footer{margin: 5em;text-align: center;}
  


    @media screen and (max-width: 375px) {
      
      .Cabeçalho{width: 290px;}
      header{font-size: 20px;text-align: center;}
      .Subtitulo{font-size: 20px;text-align: center;}
      .texto{width: 290px;margin: auto; margin-top: -0.5em;}
      .texto h1{font-size: 12px;}

      .Cards{position: relative;justify-content: center;align-items: center;width: 100%;top: 0px;}

      .Card{margin-left: 5px;width: 60%; height: 120px; left: 20px;}
      .Card p{font-size: 10.8px;}
      .Card h2{font-size: 12px;}
      
      .image{ max-width: 32px; max-height: 32px;}

      .texto{margin-bottom: -14em;}

      .Red{border-top: 4px solid #EA5353;position: relative;clear: both;top: 20px;margin-bottom: 12px;}
      .Green{border-top: 4px solid #45D3D3;position: relative;clear: both;top:0px;margin-bottom: 5px; }
      .Orange{border-top: 4px solid #FCAF4A;position: relative;clear: both;top:30px;}
      .Blue{border-top:  4px solid #549EF2;position: relative;clear: both;top:845px;left: -25px;}

      footer{width: 290px;;position: relative;margin: auto;top: 240px;}
      .attribution { font-size: 10px; text-align: center; }

      main{margin: 1em; margin-top: 4em;}

    }


    